body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

.container,
.header,
.main,
.board,
#overlay > div,
.bottom {
  display: flex;
  flex-direction: column;
}

.gameboard,
.drag-item,
.buttons {
  display: flex;
}

.header,
.main,
.gameboard,
.board,
.bottom,
#overlay > div {
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  background-color: #f1f1f1;
  gap: 5.5vmax;
}

.header {
  background-color: #e5e5e5;
  height: clamp(40px, 9vh, 80px);
  border-bottom: 3px solid #222;
}

.title {
  font-size: min(4vmax, 60px);
}

.main {
  height: max-content;
  gap: 4vmax;
}

.gameboard {
  gap: 8vw;
}

.board {
  gap: 1vh;
}

.board-title {
  font-size: min(3vmax, 20px);
}

#opponent,
#player {
  width: clamp(200px, 25vmax, 500px);
  height: clamp(200px, 25vmax, 500px);
  box-shadow: 2px 2px 2px 2px #aaa;
  display: inline-grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}

.bottom {
  gap: 3vmax;
}

.ship-item {
  height: 3.15vmin;
  width: 3.15vmin;
}

.drag-item {
  cursor: grab;
}

.ships > div:active {
  cursor: grabbing;
}

.ships {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  width: fit-content;
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.vertical {
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}

.dragging {
  opacity: 0.5;
  cursor: move;
}

.dropped {
  opacity: 0.5;
  cursor: not-allowed;
}

.dragging:active {
  cursor: grab;
}

#cruiser,
#submarine {
  grid-row: 2 / 3;
}

#carrier {
  grid-column: span 2;
}

.button {
  border-radius: 7px;
  padding: clamp(4px, 1vh, 10px) clamp(10px, 2.5vw, 50px);
  text-align: center;
  font-size: min(3vmax, 20px);
}

.buttons {
  gap: 3vw;
}

#start {
  background-color: #16a34a;
}

#rotate {
  background-color: #999;
}

.grid-item,
.ship-item {
  border: 0.2px solid #666;
}

.grid-item {
  background-color: #fff;
}

.top {
  border-top: none;
}

.left {
  border-left: none;
}

.bottom {
  border-bottom: none;
}

.right {
  border-right: none;
}

.ship,
.ship-item {
  background-color: #444;
}

#overlay {
  display: none;
}

#overlay > div {
  width: 100vw;
  height: max(100%, 100vh);
  z-index: 1;
  background-color: rgba(128, 128, 128, 0.324);
  position: absolute;
  transform: translate(0, -100%);
}

.overlay-title {
  font-size: min(6vmax, 50px);
}
